{
  "service_account_key_file": "key.json",
  "folder_id": "1",
  "source_image_family": "ubuntu",
  "image_family": "base",
  "image_name": "base-{{timestamp}}",
  "use_ipv4_nat": "true",
  "instance_cores": "1",
  "instance_core_fraction": "50",
  "instance_mem_gb": "1",
  "disk_size_gb": "5",
  "instance_name": "test",
  "zone": "zone"
}
